version: "3.7"

services:
  fastapi-app:
    build:
      context: ./fastapi-app      # Dockerfile이 위치한 디렉토리 경로
      dockerfile: Dockerfile      # Dockerfile 이름 (생략 가능, 기본값은 'Dockerfile')
    container_name: FastApi-app-LSY
    ports:
      - "5001:5001"
    networks:
      - loadtest-net
  # 컨테이너의 순서 중요함
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=jmeter
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin123
      - INFLUXDB_HTTP_AUTH_ENABLED=false
    volumes:
      - influxdb-data:/var/lib/influxdb
    networks:
      - loadtest-net
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "7070:9090"
    command: 
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - loadtest-net
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # 그라파나 기본 비밀번호
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - loadtest-net
  node-exporter: #시스템의 CPU, 메모리, 디스크, 네트워크 등 다양한 메트릭 제공
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "7100:9100"
    networks:
      - loadtest-net
  cadvisor-exporter: #시스템의 CPU, 메모리, 디스크, 네트워크 등 다양한 메트릭 제공
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    container_name: cadvisor-exporter
    ports:
      - "7200:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    restart: unless-stopped
    networks:
      - loadtest-net
  jmeter:
    build:
      context: ./jmeter
      dockerfile: Dockerfile
    container_name: jmeter
    volumes:
      - ./jmeter:/jmeter
    command: 
      - jmeter
      - -n
      - -t
      - /jmeter/fastapi_test_plan.jmx
      - -l
      - /jmeter/results.jtl
      - -JBASE_URL=http://fastapi-app:5001
      - -Jjmeter.save.saveservice.output_format=csv
      - -e
      - -o
      - /jmeter/report
    networks:
      - loadtest-net

networks:
  loadtest-net:
    driver: bridge

volumes:
  grafana-data:
  influxdb-data: